

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$line-height: 1;
$font-size-normal: 16px;

// Colors
$blue: #56baed;
$lightblue: #92badd; //淺藍
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;

$Gray: #e6e6e6;
$DarkGray: #969696;
$PantoneBlue: #007dff;

$lightWhite: #f6f6f6; //淺白
$lineWhite:  #dce8f1;// 分隔線的淺顏色

$white: rgba(255, 255, 255, 1);
$black: #0d0d0d;

// Reference: https://purecss.io/grids/
$sm: 35.5em; // 568px
$sm_unless: 567px; 
$md: 48em; // 768px
$md_unless: 767px; 
$lg: 64em; // 1024px
$lg_unless: 1023px; 
$xl: 80em; // 1280px
$xl_unless: 1279px;